@model CDA.Models.Vol

@{
    ViewData["Title"] = "Vol Details";
}

<h1>Vol Details</h1>

<div>
    <h4>Vol</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateDepart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateArrivee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateArrivee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VilleDepart.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VilleDepart.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VilleArrivee.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VilleArrivee.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VolId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
